.active {
  color: #92ec44 !important;
  font-weight: bold;
  border-bottom: 3px solid #55a90b;
}
.text-primary { color: #55a90b !important; }

.btn-primary {
  background-color: #55a90b;
  border: #55a90b;
}
.btn:hover {
  background-color: #367202 !important;
  border: #367202;
}

.Card_card__35wN0 {
  background-color: #e4e3e3;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

