.active {
  color: #92ec44 !important;
  font-weight: bold;
  border-bottom: 3px solid #55a90b;
}
.text-primary { color: #55a90b !important; }

.btn-primary {
  background-color: #55a90b;
  border: #55a90b;
}
.btn:hover {
  background-color: #367202 !important;
  border: #367202;
}

.Search_input__3iTQH {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 20px 0;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #55a90b;
  padding: 20px;
  border-radius: 15px;
  width: fit-content;
  align-items: center;
}

.modal button {
  margin-right: 10px;
  border: none;
  
  
  border-radius: 15px;
}
.active>.page-link, .page-link.active {
  background-color: #55a90b;
  border-color: #55a90b;
}

.page-link {
  color: #55a90b;
}

.Card_badge__21uzr{
  border: none !important;
  
}

.Card_card__35wN0 {
  background-color: #e4e3e3;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


.btn.disabled, .btn:disabled, fieldset:disabled .btn{
  background-color: #55a90b;
  border: #55a90b;
  cursor: not-allowed;
}